langchain-text-splitters
langchain-community
langgraph
dashscope
langchain-dashscope
langchain-ollama
langchain-milvus
mcp[cli]
openai
gradio
autogen-agentchat
autogen-ext[openai]
autogen-ext[mcp]
autogen-ext[gradio]
gradio
python-dotenv
langchain-weaviate
weaviate-client
openai 
tiktoken 
langchain

